.App {
  min-height: 45vh;
  width: 30%;
  min-width: 300px;
  margin: 5rem auto;
  background-color: rgb(232, 238, 70);
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
}
.App h1 {
  background-color: rgb(6, 64, 116);
  color: rgb(255, 0, 0);
  position: relative;
  top: -1.4rem;
  padding: 0.8rem 0;
}
.App input {
  text-align: center;
  width: 60%;
  height: 2.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
}
.App button {
  background-color: green;
  border-radius: 50%;
  padding: 0.3rem 0.8rem;
  margin: 0.5rem;
  font-size: 1.6rem;
  color: white;
  border: transparent;
}
.App button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.list {
  display: flex;
  align-items: center;
}
.list button{
  background-color: red;
}
.list li {
  list-style: none;
  font-size: 1.5rem;
}